* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #fff;
}
.profile-card {
    background-color: #fff;
    border-radius: 1rem;
    margin: 10px 0px;
    box-shadow: 0px 8px 24px rgba(173, 171, 171, 0.1);
    padding-bottom: 20px;
    position: relative;
}
.profile-card img {
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 150px;
}
.profile-photo {
    position: absolute;
    top: 10px;
    left: 210px;
}
.text-gray {
    color:#8D8D8D;
}
.fs-4 {
    font-size: 16px;
}

.fs-5 {
    font-size:14px;
}

.fs-6 {
    font-size:12px;
}

.btn {
    border-radius: 0.5rem;
    border: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #1E639D;
    border: 1px solid #1E639D;
}
.btn-primary:hover {
    border: 1px solid #1E639D;
    background-color: #fff;
    color: #1E639D;
}
.border-rounded{
    border-radius: 1rem;
}
.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    height: 170px;
    width: 100%;
    background-size: cover;
    top: 10;
    border-radius: 1rem 1rem 1rem 1rem;
    background-position: 0px -100px;
}
footer p {
    color: #2F2F2F;
}